<!DOCTYPE html>
<html lang="en">
<head>
  <title>Clientes - Comercial D Nix</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container-fluid">
  <h1>Clientes</h1>
  <p>Elija una opción.</p>
  <!--Cada botón abrirá un modal-->
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#crearModal">Crear</button>
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#actualizarModal">Actualizar</button>
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#borrarModal">Borrar</button>
  <button type="button" class="btn btn-success">Ver</button>
  
</div>

<div>
    
</div>


<div class="modal" id="crearModal">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Crear Cliente</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <!-- form tiene que tener method POST y role form para que los datos se envíen.-->
         <!-- Action es a dónde los manda, y # los manda a la misma página-->
        <form method="POST" role="form" action="#">
            <!--Desde aquí se ponen los datos. Hay que cambiar estos por los de cada entidad.-->
            <div class="mb-3 mt-3">
                <label for="idClienteForm" class="form-label">id del Cliente:</label>
                <input type="text" class="form-control" id="idClienteForm" placeholder="Inserte id del cliente" name="idCliente">
            </div>
            <div class="mb-3 mt-3">
                <label for="rutForm" class="form-label">Rut:</label>
                <input type="text" class="form-control" id="rutForm" placeholder="Inserte Rut sin dígito verificador" name="rut">
            </div>
            <div class="mb-3 mt-3">
                <label for="nombreForm" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombreForm" placeholder="Inserte nombre" name="nombre">
            </div>
            <div class="mb-3">
                <label for="correoForm" class="form-label">Correo:</label>
                <input type="email" class="form-control" id="correoForm" placeholder="Inserte correo" name="correo">
            </div>
            <div class="mb-3 mt-3">
                <label for="telefonoForm" class="form-label">Teléfono:</label>
                <input type="text" class="form-control" id="telefonoForm" placeholder="Inserte teléfono" name="telefono">
            </div>
            <div class="mb-3 mt-3">
                <label for="direccionForm" class="form-label">Dirección:</label>
                <input type="text" class="form-control" id="direccionForm" placeholder="Inserte dirección" name="direccion">
            </div>
            <div class="form-check mb-3">
                <label class="form-check-label">
                <input class="form-check-input" id="activoForm" type="checkbox" name="activo" value= true> Activo
                </label>
            </div>
            <div class="mb-3 mt-3">
                <label for="digVerForm" class="form-label">Dígito verificador:</label>
                <input type="text" class="form-control" id="digVerForm" placeholder="Inserte dígito verificador" name="digVer">
            </div>
            <div class="mb-3 mt-3">
                <label for="abreviacionForm" class="form-label">Abreviación:</label>
                <input type="text" class="form-control" id="abreviacionForm" placeholder="Inserte abreviación" name="abreviacion">
            </div>
            <div class="mb-3 mt-3">
                <label for="ciudadForm" class="form-label">Ciudad:</label>
                <input type="text" class="form-control" id="ciudadForm" placeholder="Inserte ciudad" name="ciudad">
            </div>
            <div class="mb-3 mt-3">
                <label for="comunaForm" class="form-label">Comuna:</label>
                <input type="" class="form-control" id="comunaForm" placeholder="Inserte comuna" name="comuna">
            </div>
            <div class="mb-3 mt-3">
                <label for="condicionesVentaForm" class="form-label">Condiciones de venta:</label>
                <input type="text" class="form-control" id="condicionesVentaForm" placeholder="Inserte condiciones de venta" name="condicionesVenta">
            </div>
            <div class="mb-3 mt-3">
                <label for="viaDespachoForm" class="form-label">Vía de despacho:</label>
                <input type="text" class="form-control" id="viaDespachoForm" placeholder="Inserte vía de despacho" name="viaDespacho">
            </div>
            <div class="mb-3 mt-3">
                <label for="porComisionForm" class="form-label">Porcentaje de comisión:</label>
                <input type="number" class="form-control" id="porComisionForm" placeholder="Inserte porcentaje de comisión" name="porComision">
            </div>
            <div class="mb-3 mt-3">
                <label for="porCobranzaForm" class="form-label">Porcentaje de cobranza:</label>
                <input type="number" class="form-control" id="porCobranzaForm" placeholder="Inserte porcentaje de cobranza" name="porCobranza">
            </div>
            <div class="mb-3 mt-3">
                <label for="observacionesForm" class="form-label">Observaciones:</label>
                <input type="text" class="form-control" id="observacionesForm" placeholder="Inserte observaciones" name="observaciones">
            </div>
            <div class="mb-3 mt-3">
                <label for="idZonaVentaForm" class="form-label">id Zona de venta:</label>
                <input type="number" class="form-control" id="idZonaVentaForm" placeholder="Inserte id de la zona de venta" name="idZonaVenta">
            </div>
            <button type="submit" class="btn btn-primary">Crear</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="actualizarModal">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Actualizar Cliente</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <!-- form tiene que tener method POST y role form para que los datos se envíen.-->
         <!-- Action es a dónde los manda, y # los manda a la misma página-->
        <form method="POST" role="form" action="#">
            <!--Desde aquí se ponen los datos. Hay que cambiar estos por los de cada entidad.-->
            <div class="mb-3 mt-3">
                <label for="IDidClienteActualizar" class="form-label">id del Cliente:</label>
                <input type="text" class="form-control" id="IDidClienteActualizar" placeholder="Inserte id del cliente" name="idClienteActualizar">
            </div>
            <div class="mb-3 mt-3">
                <label for="IDrutActualizar" class="form-label">Rut:</label>
                <input type="text" class="form-control" id="IDrutActualizar" placeholder="Inserte Rut sin dígito verificador" name="rutActualizar">
            </div>
            <div class="mb-3 mt-3">
                <label for="IDnombreActualizar" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="IDnombreActualizar" placeholder="Inserte nombre" name="nombreActualizar">
            </div>
            <div class="mb-3">
                <label for="IDcorreoActualizar" class="form-label">Correo:</label>
                <input type="email" class="form-control" id="IDcorreoActualizar" placeholder="Inserte correo" name="correoActualizar">
            </div>
            <div class="mb-3 mt-3">
                <label for="IDtelefonoActualizar" class="form-label">Teléfono:</label>
                <input type="text" class="form-control" id="IDtelefonoActualizar" placeholder="Inserte teléfono" name="telefonoActualizar">
            </div>
            <div class="mb-3 mt-3">
                <label for="IDdireccionActualizar" class="form-label">Dirección:</label>
                <input type="text" class="form-control" id="IDdireccionActualizar" placeholder="Inserte dirección" name="direccionActualizar">
            </div>
            <div class="form-check mb-3">
                <label class="form-check-label">
                <input class="form-check-input" id="IDactivoActualizar" type="checkbox" name="activoActualizar" value= true> Activo
                </label>
            </div>
            <div class="mb-3 mt-3">
                <label for="IDdigVerActualizar" class="form-label">Dígito verificador:</label>
                <input type="text" class="form-control" id="IDdigVerActualizar" placeholder="Inserte dígito verificador" name="digVerActualizar">
            </div>
            <div class="mb-3 mt-3">
                <label for="IDabreviacionActualizar" class="form-label">Abreviación:</label>
                <input type="text" class="form-control" id="IDabreviacionActualizar" placeholder="Inserte abreviación" name="abreviacionActualizar">
            </div>
            <div class="mb-3 mt-3">
                <label for="IDciudadActualizar" class="form-label">Ciudad:</label>
                <input type="text" class="form-control" id="IDciudadActualizar" placeholder="Inserte ciudad" name="ciudadActualizar">
            </div>
            <div class="mb-3 mt-3">
                <label for="IDcomunaActualizar" class="form-label">Comuna:</label>
                <input type="" class="form-control" id="IDcomunaActualizar" placeholder="Inserte comuna" name="comunaActualizar">
            </div>
            <div class="mb-3 mt-3">
                <label for="IDcondicionesVentaActualizar" class="form-label">Condiciones de venta:</label>
                <input type="text" class="form-control" id="IDcondicionesVentaActualizar" placeholder="Inserte condiciones de venta" name="condicionesVentaActualizar">
            </div>
            <div class="mb-3 mt-3">
                <label for="IDviaDespachoActualizar" class="form-label">Vía de despacho:</label>
                <input type="text" class="form-control" id="IDviaDespachoActualizar" placeholder="Inserte vía de despacho" name="viaDespachoActualizar">
            </div>
            <div class="mb-3 mt-3">
                <label for="IDporComisionActualizar" class="form-label">Porcentaje de comisión:</label>
                <input type="number" class="form-control" id="IDporComisionActualizar" placeholder="Inserte porcentaje de comisión" name="porComisionActualizar">
            </div>
            <div class="mb-3 mt-3">
                <label for="IDporCobranzaActualizar" class="form-label">Porcentaje de cobranza:</label>
                <input type="number" class="form-control" id="IDporCobranzaActualizar" placeholder="Inserte porcentaje de cobranza" name="porCobranzaActualizar">
            </div>
            <div class="mb-3 mt-3">
                <label for="IDobservacionesActualizar" class="form-label">Observaciones:</label>
                <input type="text" class="form-control" id="IDobservacionesActualizar" placeholder="Inserte observaciones" name="observacionesActualizar">
            </div>
            <div class="mb-3 mt-3">
                <label for="IDidZonaVentaActualizar" class="form-label">id Zona de venta:</label>
                <input type="number" class="form-control" id="IDidZonaVentaActualizar" placeholder="Inserte id de la zona de venta" name="idZonaVentaActualizar">
            </div>
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="borrarModal">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Borrar Cliente</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <!-- form tiene que tener method POST y role form para que los datos se envíen.-->
         <!-- Action es a dónde los manda, y # los manda a la misma página-->
        <form method="POST" role="form" action="#">
            <!--Desde aquí se ponen los datos. Hay que cambiar estos por los de cada entidad.-->
            <div class="mb-3 mt-3">
                <label for="idClienteForm" class="form-label">id del Cliente:</label>
                <input type="text" class="form-control" id="idClienteForm" placeholder="Inserte id del cliente" name="idCliente">
            </div>
            <button type="submit" class="btn btn-primary">Borrar</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
      </div>

    </div>
  </div>
</div>

</body>
</html>